bin/
obj/
textures/
voxel.cbp
voxel.depend
voxel.layout
debug.log
utils/stb_image.h
utils/stb_image.cpp
include/glad/*
include/KHR/*
src/glad.c
ConfigParserDev/*
config.txt

Indices/*

terrain/noiseutils.h
terrain/noiseutils.cpp
fonts/
*
